<%- include ('./partials/header') %>
<%- include ('./partials/nav') %>

<div class = "text-center">
    <h1> Oops, this page doesn't exist. How did you even get here LOL? </h1>
</div>

<%- include ('./partials/footer') %>