<%- include ('./partials/header') %>
<%- include ('./partials/nav') %>

<style>
    .wrong-page {
        margin-top: 5rem;
    }
</style>

<div class = "container wrong-page">
    <h1> Oops, this page doesn't exist. </h1>
</div>