<%- include ('./partials/header') %>
<%- include ('./partials/nav') %>

<br> <br>

<div class = "auth-form">
    <form class = "form-signin" method = "post" action = "/authorize">
        <h1 class="h3 mb-3 font-weight-normal text-center"> Forgot Password </h1>
        <p>Enter the email associated with you account. If it is an email address registered with us, we will send you a link to reset your password. </p>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""><br/>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""><br/>
        
        <button class="btn btn-secondary btn-block" type="submit"><i class="fas fa-sign-in-alt"></i>Log In</button>
        <a href="/sign-up" id="create-account">Create an Account</a>
    </form>
              
</div>

<%- include ('./partials/footer') %>
