<%- include ('./partials/header') %>

<%- include ('./partials/nav') %>

<div class = "container">

        <br> <br>
    <h3> One more thing... we need your name before you proceed! </h3>

    <form action="/join" method="POST">
        <div class="form-group w-25 enter-name">
        <label for="name">Please Enter Your Name:</label>
        <input type="text" name="name" class="form-control" id="name" minlength="2">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
