    <%- include ('./partials/header') %>
    <%- include ('./partials/nav') %>

    <div class = "text-center">
        <h1> You already have a tab open for this site. Duplicate tabs are not allowed since it affects the synchronisaion of videos. </h1>
    </div>

    <%- include ('./partials/footer') %>