<%- include ('./partials/header') %>

<%- include ('./partials/nav') %>

    <div class = "main-container">

    <div class = "iframe-api">
        <script src="https://www.youtube.com/iframe_api"></script>
    </div>

    <div id = "video-container">
        Loading...
    </div>

    <div class = "right-container">
        <div class = "alert alert-success sessionID">
              <h4> Room ID: <%= room %> <h5>
        </div>
        <div class = "chat-container">
            <strong><p id="message"></p></strong>
            <hr>
            <div class = "chat"></div>
        </div>
        <form id = "msgForm">
            <div class="form-row">
                <div class="col-9">
                    <input type="text" class="form-control form-control-md" name="chatInput">
                </div>
                <div class="col-3 ">
                    <button type = "submit" class = "btn btn-secondary">Send</button>
                </div>
                </div>
        </form>  

    </div>

    <div class = "controls-container">

        <div class="controls-header">
            <h2>Controls</h2>
        </div>

        <div clas = "controls-buttons">
            <div class="form-row">
                <button type = "button" class = "btn btn-secondary control">Take Control</button>
            </div>
    
            <div class="form-row">
                <button type = "button" class = "btn btn-secondary sync">Sync Up</button>
            </div>

            <div class="form-row">
                <button type = "button" class = "btn btn-secondary">View All Users</button>
            </div>

            <div class="form-row">
                <button type = "button" class = "btn btn-secondary">Change Name</button>
            </div>

            <div class="form-row">
                <button type = "button" class = "btn btn-secondary">Leave</button>
            </div>
        </div>


        
    </div>

</div>

<script src = 'js/youtube-api-functions.js'></script>
<div class = "chat-script"></div>
<script src = '/socket.io/socket.js'></script>



<%- include ('./partials/footer') %>