.body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../img/xps-7ZWVnVSaafY-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.search {
    margin: 0px 0px 250px 0px;
}

.main-container {
    display: flex;
    flex-direction: row;
}

#video-container {
    overflow: hidden;
    position: relative;
    width:65%;
    margin-top: 10px;
    margin-left: 10px;
    flex: 6;

}

#video-container:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sessionID {
    text-align: center;
    flex: 1;
}

.right-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    flex: 2;
}

.chat-container {
    flex: 5;
    overflow: auto;
}

#msgForm {
    align-self: flex-end;
}

#message {
    text-align: center;
}

.controls-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.control, .sync {
    margin-bottom: 10px;

}

/* .okok {
    pointer-events: none;

    } */